.card {
  margin-bottom: 24px;
}
.box {
  display: flex;
  gap: 1rem;
}
.color_card {
  padding: 1rem;
  cursor: pointer;
}
.footer {
  gap: 1rem;
  align-items: center;
  display: flex;
  padding: 1rem;
  background-color: rgb(235, 195, 64);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
